@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;800&display=swap");

$primLightCyan: hsl(193, 38%, 86%);
$primNeonGreen: hsla(150, 100%, 66%, 0.856);
$neutGreyishBlue: hsl(217, 19%, 38%);
$neutDarkGreyishBlue: hsl(217, 19%, 24%);
$neutDarkBlue: hsl(218, 23%, 16%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Manrope", sans-serif;
  font-size: 28px;
  background-color: $neutDarkBlue;
}

footer {
  position: absolute;
  bottom: 10px;
  font-size: 1rem;
  color: white;
  span {
    color: $primNeonGreen;
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $neutDarkGreyishBlue;
  width: 600px;
  border-radius: 15px;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 70px;
    font-size: 1.5rem;
    text-align: center;
    position: relative;
  }
  p {
    font-size: 0.8rem;
    color: $primNeonGreen;
    font-weight: 800;
    margin: 20px;
    letter-spacing: 5px;
    span {
      margin-left: 6px;
    }
  }
  h3 {
    color: $primLightCyan;
    margin-bottom: 20px;
    position: relative;
    margin-bottom: 120px;
    &::first-letter {
      text-transform: capitalize;
    }
    &::after {
      content: "";
      position: absolute;
      width: 45%;
      height: 1px;
      bottom: -50px;
      right: 0;
      background-color: white;
      opacity: 0.2;
    }
    &::before {
      content: "";
      position: absolute;
      width: 45%;
      height: 1px;
      bottom: -50px;
      left: 0;
      background-color: white;
      opacity: 0.2;
    }
  }
  .fa-pause {
    position: absolute;
    bottom: 75px;
    color: $primLightCyan;
    font-size: 1.8rem;
  }
  .circle {
    width: 60px;
    height: 60px;
    background-color: $primNeonGreen;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -50px;
    margin: 20px;
    transition: 0.3s;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;

    border: none;
    &:hover {
      box-shadow: 0 0 39px 3px $primNeonGreen;
    }
    i {
      font-size: 1.6rem;
      color: $neutDarkBlue;
      border: none;
    }
  }
}

@media (max-width: 700px) {
  main {
    margin: 20px;
  }
}
